In [3]:
a=10
b=20.5
print(a+b)

30.5

In [4]:
#concatination - both operands are string type
fname="Rahul"
lname="Gandhi"
print(fname+lname)

RahulGandhi

In [5]:
ename="Rahul"
num=10
print(ename+num)

TypeError: can only concatenate str (not "int") to str

In [1]:
a=10
b=20
print(a*b)

200

In [2]:
a=10
b=20.5
print(a*b)

205.0

In [4]:
ename="Rahul"
num=10
print(ename*num)

RahulRahulRahulRahulRahulRahulRahulRahulRahulRahul

In [5]:
ename='Rahul'
num='ten'
print(ename*num)

TypeError: can't multiply sequence by non-int of type 'str'

In [6]:
ename='Rahul'
num='10'
print(ename*num)

TypeError: can't multiply sequence by non-int of type 'str'